<h1>メールアドレス変更</h1>
<p>現在のメールアドレスを入力してください</p>
<%= form_with url: password_resets_path, data: { "turbo-method": :post } do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.submit '送信' %>
<% end %>

