<div id= "like_post-<%= post.id %>">
  <% @current_user_like_post = post.like_posts.find_by(user_id: current_user.id) %>
  <%= link_to like_post_path(@current_user_like_post), data: { turbo_method: "delete" } do %>
    <i class="bi bi-heart-fill"></i>
  <% end %>
</div>