.footer{
  background-color: #5B424C;
  width: 100%;
  height: 40px;
  font-family: Alegreya;
}
.fotter_link{
  color: white;
  text-decoration: none;
}
.d-flex justify-content-around{
  height: auto;
}