.header{
  background-color: #5B424C;
  width: auto;
  height: 70px;
}

.header_icon{
  width: 200px;
  height: 75px;
  float: left;
}

.navbar{
  background-color: #5B424C;
  height: 60px;
}