.header{
  background-color: #5B424C;
  width: auto;
  height: 70px;
}

.header_icon{
  width: 200px;
  height: 65px;
  float: left;
}

.navbar{
  background-color: #5B424C;
  height: 60px;
}

.container-fluid {
  z-index: 10;
  background-color: #5B424C;
}