<div class="container">
  <div class="row">
    <div class="text-center p-3 m-3">
      <p>公式LINEを追加することで、フォローしたユーザーの通知を受け取ることができます!</p>
      <p class="text-primary">公式LINE追加後、トーク画面のURLより認証を完了させてください!</p>
      <%= link_to "https://lin.ee/ldrvLk4" do %>
        <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
      <% end %>
    </div>
  </div>
</div>